body {
  margin: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.bg-yellow {
  background-color: #f7f6cf;
}

.bg-blue {
  background-color: #b6d8f2;
}

.bg-pink {
  background-color: #f4cfdf;
}
.progress-div {
  transform: rotate(90deg);
  top: 430px;
  right: 40px;
  position: absolute;
  z-index: 999;
  /*transition: all 3s;*/
}

.bar {
  height: 3px;
  width: 150px;
  -webkit-appearance: none;
}
::-webkit-progress-bar {
  background-color: rgb(198, 196, 194);
}
::-webkit-progress-value {
  background-color: #000;
}
